body, html {
	margin: 0;
	padding: 0;
}

#body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#show {
	
}

#win {
	color:#339933;
}

#lose {
	color:#ff3300;
}

#draw {
	color:#cccc00;
}

#progress {
	color:#ff9933;
}